* {
    font-family: 'Jaldi', sans-serif;
}

body {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

header {
    background: black;
    color: white;
    font-size: 65%;
    text-align: center;
    width: 100%;
}

h1 {
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

form,
.basic-info,
.zip,
textarea,
button {
    width: 95%;
    max-width: 95%;
    margin-left: 2.5%;
}

label {
    color: grey;
    margin-top: 1em;
    margin-bottom: -.5em;
    margin-left: 2.5%;
    transition-property: color;
    transition-duration: 2s;
}

form {
    border-top: double .5em black;
    padding-top: 1em;
    padding-bottom: 1em;
}

h3 {
    text-align: center;
    font-size: 90%;
    color: grey;
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 2em;
}

    input[type="postal-code"] {
    margin-bottom: 3em;
}

button {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2.5%;
    background: grey;
    border-radius: .2em;
    text-align: center;
    color: white;
    font-size: 125%;
}

form p {
    margin-left: 2.5%;
    margin-bottom: 2em;
    color: grey;
}

select {
    width: 95%;
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 2.5%;
    padding-top: .15em;
    padding-bottom: .15em;
    background: whitesmoke;
    color: grey;
    font-size: 110%;
}

textarea {
    margin-top: .25em;
    margin-bottom: 1em;
    padding-top: .15em;
    padding-bottom: .15em;
    background: whitesmoke;
    border-radius: .2em;
    font-size: 110%;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h4 {
    margin-bottom: 0;
}

fieldset {
    border-style: none;
}

legend {
    width: 100%;
    font-size: 115%;
}

fieldset p {
    margin-bottom: 0em;
}

/**Classes***************/

.top-banner {
    text-align: center;
    width: 90%;
    margin: auto;
}

.top-banner h2 {
    margin-bottom: -10px;
}

.top-banner p {
    color: grey;
}

.newsletters {
    margin-left: 2.5%;
    display: inline-block
}

.form-break {
    border-top: solid .15em black;
    padding-top: 1em;
}

.basic-info,
.zip {
    margin-top: .5em;
    margin-bottom: 1em;
    padding: .15em 0em .15em 0em;
    background: whitesmoke;
    border-radius: .2em;
    font-size: 110%;
}

.topics {
    margin-top: 1em;
}

/**Psuedo-Classes***************/

label:hover {
    color: black;
}

.basic-info:focus,
.zip:focus,
select:focus,
textarea:focus {
    transition-duration: 1s;
    background-color: white;
}


input:placeholder-shown {
    font-style: italic;
    text-align: right;
}

button:hover {
    background-color: green;
    transition-duration: 1s;
}

/**MEDIA**Q***************/

@media (min-width: 768px) {

form {
    width:75%;
    margin: auto;
}

select {
    width: 60%;
    max-width: 60%;
}

.item {
    display: flex;
    flex-direction: row;
}

.item label {
    width: 25%;
}

.basic-info {
    width: 60%;
    max-width: 60%;
}

.zip {
    width: 15%;
}
}